In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
import math
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, LabelEncoder
from keras import models
from keras import layers
from keras import regularizers
import matplotlib.pyplot as plt
from keras import optimizers
from numpy.random import seed
from numpy import array
from numpy import argmax
from keras import metrics
import matplotlib.pyplot as plt
from tensorflow.keras.utils import plot_model
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
seed = 10
csv_file = 'assignment_ds.csv'
df = pd.read_csv(csv_file)
df[0:10]

,Temperature,L,R,A_M,Color,Spectral_Class,Type
0,3453,0.000621,0.0773,17.08,Red,M,0
1,12098,689.000000,7.0100,0.02,Blue-white,A,3
2,2731,0.000437,0.0856,18.09,Red,M,0
3,37800,202900.000000,6.8600,-4.56,Blue,O,3
4,8570,0.000810,0.0097,14.20,Blue white,A,2
5,3605,126000.000000,1124.0000,-10.81,Red,M,5
6,8052,8.700000,1.8000,2.42,Whitish,A,3
7,3574,200000.000000,89.0000,-5.24,Red,M,4
8,8829,537493.000000,1423.0000,-10.73,White,A,5
9,3625,74000.000000,876.0000,-10.25,Red,M,5

In [3]:
df = pd.DataFrame(df) # Con los datos que tengas, haces la recogida de datos del df
df.loc[(df['Color'] == 'Blue'), "Color_Num"] = 1
df.loc[(df['Color'] == 'Blue-white'), "Color_Num"] = 2
df.loc[(df['Color'] == 'Blue White'), "Color_Num"] = 2
df.loc[(df['Color'] == 'Blue white'), "Color_Num"] = 2
df.loc[(df['Color'] == 'Blue-White'), "Color_Num"] = 2
df.loc[(df['Color'] == 'Orange'), "Color_Num"] = 4
df.loc[(df['Color'] == 'Orange-Red'), "Color_Num"] = 5
df.loc[(df['Color'] == 'Pale yellow orange'), "Color_Num"] = 6
df.loc[(df['Color'] == 'Red'), "Color_Num"] = 7
df.loc[(df['Color'] == 'White'), "Color_Num"] = 8
df.loc[(df['Color'] == 'white'), "Color_Num"] = 8
df.loc[(df['Color'] == 'White-Yellow'), "Color_Num"] = 9
df.loc[(df['Color'] == 'Whitish'), "Color_Num"] = 10
df.loc[(df['Color'] == 'yellowish'), "Color_Num"] = 11
df.loc[(df['Color'] == 'Yellowish'), "Color_Num"] = 11
df.loc[(df['Color'] == 'yellowish-white'), "Color_Num"] = 12
df.loc[(df['Color'] == 'Yellowish White'), "Color_Num"] = 12
df.loc[(df['Color'] == 'yellow-white'), "Color_Num"] = 13
df.loc[(df['Spectral_Class'] == 'A'), "Spectral_Class_num"] = 1
df.loc[(df['Spectral_Class'] == 'B'), "Spectral_Class_num"] = 2
df.loc[(df['Spectral_Class'] == 'F'), "Spectral_Class_num"] = 3
df.loc[(df['Spectral_Class'] == 'G'), "Spectral_Class_num"] = 4
df.loc[(df['Spectral_Class'] == 'K'), "Spectral_Class_num"] = 5
df.loc[(df['Spectral_Class'] == 'M'), "Spectral_Class_num"] = 6
df.loc[(df['Spectral_Class'] == 'O'), "Spectral_Class_num"] = 7
df.drop(columns=["Spectral_Class"], inplace=True)
df.drop(columns=["Color"], inplace=True)
df = df.rename(columns = {'Spectral_Class_num': 'Spectral_Class', 'Color_Num': 'Color'}, inplace = False)
df

     Temperature              L         R    A_M  Type  Color  Spectral_Class
0           3453       0.000621   0.07730  17.08     0    7.0             6.0
1          12098     689.000000   7.01000   0.02     3    2.0             1.0
2           2731       0.000437   0.08560  18.09     0    7.0             6.0
3          37800  202900.000000   6.86000  -4.56     3    1.0             7.0
4           8570       0.000810   0.00970  14.20     2    2.0             1.0
..           ...            ...       ...    ...   ...    ...             ...
195        13420       0.000590   0.00981  13.67     2    2.0             2.0
196        19860       0.001100   0.01310  11.34     2    1.0             2.0
197        13023     998.000000   6.21000  -1.38     3    2.0             1.0
198        39000  204000.000000  10.60000  -4.70     3    1.0             7.0
199        12010       0.000780   0.00920  12.13     2    2.0             2.0

[200 rows x 7 columns]

In [4]:
df.columns

Index(['Temperature', 'L', 'R', 'A_M', 'Type', 'Color', 'Spectral_Class'], dtype='object')

In [5]:
df.shape

(200, 7)

In [7]:
df.sum()

Temperature       2.094254e+06
L                 2.216620e+07
R                 4.840493e+04
A_M               8.661020e+02
Type              5.060000e+02
Color             1.029000e+03
Spectral_Class    9.530000e+02
dtype: float64